/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --color-plus-grey: #a1a3a5;
  --color-border-grey: #dee2e6;
  --color-text-dark: #212529;
  --color-background-white: #fff;
  --color-border-active-blue: #0dcaf0;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

/* .accordion__content {
  display: none;
} */

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--color-border-grey);
  border-top: none;
  color: var(--color-text-dark);
  background-color: var(--color-background-white);
}

.accordion:first-child {
  border-top: 1px solid var(--color-border-grey);
}

.accordion__title.active {
  box-shadow: 0 0 12px 1px var(--color-border-active-blue);
}

.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}

.accordion__title.active span {
  transform: rotate(45deg);
}

.accordion__title span::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-plus-grey);
}

.accordion__title span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-plus-grey);
}

.accordion__content {
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border: 1px solid var(--color-border-grey);
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.game-menu {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff4500; /* Оранжевий колір, можна вибрати інший */
  border: 2px solid #e9743d; /* Колір обводки */
  border-radius: 10px; /* Радіус закруглення кутів */
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.game-menu:hover {
  background-color: #e9743d; /* Змінюємо колір при наведенні */
  transform: scale(1.05); /* Невелике збільшення при наведенні */
}

.button-box {
  display: flex;

  justify-content: center;
}
